@charset "utf-8";

$textC: #333;
$redC: #c30;
$boderC: rgba(black, 0.15);
$transition: all 0.3s ease-in-out;

@media screen and (min-width: 20em) {} // 320px
@media screen and (min-width: 30em) {} // 480px
@media screen and (min-width: 48em) {} // 768px
@media screen and (min-width: 67em) {} // 1072px
@media screen and (min-width: 79em) {} // 1264px
