.navigation-top {
  display: none;
}

body.page.page-one-column #primary.content-area {
  max-width: 740px;
}

header.entry-header {
  margin: 0 !important;
}
header.entry-header .entry-title {
  line-height: 1.25;
}
header.entry-header .entry-title::after {
  display: block;
  height: 4px;
  content: "";
  background-color: #bf7243;
  margin: 0.25em 0 0;
}

@media screen and (min-width: 48em) {
  .site-content-contain {
    margin-top: -51px;
  }
  #content {
    padding: 3em 0 0 !important;
  }
}
@media screen and (min-width: 67em) {
  html,
  body,
  .site-content-contain {
    background-color: #eee;
  }
  #content .wrap {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
#main table#flyer-data-table tbody tr:nth-child(2n) {
  background-color: #f8f8f8;
}
#main table#flyer-data-table th, #main table#flyer-data-table td {
  padding: 0.4rem 0.5rem;
}
#main table#flyer-data-table th.photo, #main table#flyer-data-table td.photo {
  line-height: 0;
  text-align: center;
  padding: 0;
}
#main table#flyer-data-table th.photo img, #main table#flyer-data-table td.photo img {
  max-width: 60px;
  max-height: 60px;
  box-shadow: none;
}
#main table#flyer-data-table th.number, #main table#flyer-data-table td.number {
  text-align: right;
  /*
  			padding-right: 1rem;
  			padding-left: 1rem;
  */
}
#main table#flyer-data-table td.photo {
  width: 60px;
  height: 60px;
}
#main table#flyer-data-table td.photo a {
  box-shadow: none;
}

@media screen and (min-width: 48em) {
  footer.site-footer {
    margin: 0;
    padding-bottom: 2em;
  }
}
@media screen and (min-width: 67em) {
  footer.site-footer {
    border: none;
  }
}
div.wpforms-container .wpforms-field .wpforms-uploader,
div.wpforms-container .wpforms-field textarea,
div.wpforms-container .wpforms-field input[type=url],
div.wpforms-container .wpforms-field input[type=email],
div.wpforms-container .wpforms-field input[type=number],
div.wpforms-container .wpforms-field input[type=tel],
div.wpforms-container .wpforms-field input[type=text] {
  background-color: #f9f9f9;
}
div.wpforms-container .wpforms-field .wpforms-uploader.dz-started {
  background-color: white !important;
}
div.wpforms-container .wpforms-field .wpforms-uploader .dz-preview {
  border: none;
  padding: 0;
}
div.wpforms-container .wpforms-field-divider h3 {
  /*
  			color: #bf7243 !important;
  			background-color: #eee;
  			padding: 0 !important;
  */
  color: white !important;
  background-color: rgb(108.1797619048, 86.5331221198, 73.3202380952);
  border-radius: 12px;
  padding: 1em 0.75em !important;
}
div.wpforms-container .wpforms-field-label {
  margin-bottom: 1em !important;
}
div.wpforms-container .wpforms-field-description {
  line-height: 1.5;
  margin-top: 0.5em;
}
div.wpforms-container .wpforms-field.wpforms-field-radio ul {
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 0.75em 1em;
}
div.wpforms-container #wpforms-109-field_11-container {
  padding-bottom: 9px;
}
div.wpforms-container #wpforms-109-field_12-container {
  padding-top: 0;
}

@media screen and (max-width: 47.99em) {
  div.wpforms-container .wpforms-form .wpforms-field .wpforms-field-row {
    display: block;
  }
  div.wpforms-container .wpforms-form .wpforms-field .wpforms-field-row-block {
    padding: 0;
  }
  div.wpforms-container .wpforms-form .wpforms-field.wpforms-one-half,
  div.wpforms-container .wpforms-form .wpforms-field .wpforms-one-half {
    width: auto !important;
    float: none;
    margin: 0;
  }
  div.wpforms-container .wpforms-form .wpforms-field .wpforms-one-half {
    padding: 0 !important;
  }
  div.wpforms-container .wpforms-form .wpforms-field .wpforms-first {
    margin-bottom: 0.5em;
  }
  div.wpforms-container .wpforms-form .wpforms-field-layout .wpforms-layout-row {
    display: block !important;
  }
  div.wpforms-container .wpforms-form .wpforms-field-layout .wpforms-layout-column-50 {
    width: auto !important;
    padding: 0;
  }
}/*# sourceMappingURL=page-external.css.map */